

<ng-container *ngIf="!location">
    Loading...
</ng-container>

<ng-container *ngIf="location" >
    <div class="overlay" *ngIf="showLoader">
        <mat-spinner ></mat-spinner>
    </div>
    <mat-dialog-content style="display: flex; flex-direction: row; gap: 8px">
     
        <div style="display: flex; flex-direction: column; flex: 2">
            <span style="font-size: 12px; align-self: center;">{{location.latitude}}, {{location.longitude}}</span>
            <mat-form-field class="denseInput">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="location.title">
            </mat-form-field>
            <mat-form-field class="denseInput">
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="location.address">
            </mat-form-field>
            <mat-form-field class="denseInput">
                <mat-label>Area (m2)</mat-label>
                <input matInput type="number" [(ngModel)]="location.area">
            </mat-form-field>
            <button mat-button (click)="getAdvice()">Get Advice</button>
        </div>
        <div style="flex: 3; font-size: 14px; display: flex; flex-direction: column; justify-content: space-between; ">
            <mat-radio-group [(ngModel)]="currentCategory">
                <mat-radio-button [value]="undefined">All</mat-radio-button>
                <mat-radio-button *ngFor="let category of categories" [value]="category">
                    {{category.title}}
                </mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="getIndicator()">
                <mat-divider></mat-divider>
                <div class="{{getClassForIndicator()}}">
                    <span> Index: {{getIndicator()?.value}}</span>
                    <span> Rank: {{getIndicator()?.rank}}</span>
                </div>
            </ng-container>
            <mat-divider></mat-divider>
            <span *ngIf="!filteredLocationParameters().length" style="height: 500px;">Add some parameters</span>
            <div style="height: 500px; max-width: 100%; overflow: auto;" *ngIf="filteredLocationParameters().length">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let group of filteredLocationParameters()">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="line-height: normal">
                                {{group.parameter.title}}
                            </mat-panel-title>
                            <mat-panel-description style="line-height: normal">
                                <span *ngIf="!group.parameter.limit">{{group.locationParameters[0].value | number:'1.0-6'}} {{group.parameter.unit?.title}}</span>
                                <span *ngIf="group.parameter.limit">{{group.locationParameters[0].value | number:'1.0-6'}} / <span style="font-weight: bold">{{group.parameter.limit | number:'1.0-6'}}</span> {{group.parameter.unit?.title}}</span>
                                
                                <span
                                        style="margin-left: auto"
                                        class="badge">{{group.locationParameters[0].dateTime | date:'dd.MM.yyyy'}}</span>
                                <span class="badge badge-red" *ngIf="group.locationParameters.length > 1">chart</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div style="display: flex; flex-direction: column; gap:8px;">
                            <button mat-flat-button color="accent" (click)="openChart(group.locationParameters)"
                                    *ngIf="group.locationParameters.length > 1">chart
                            </button>
                            <div *ngFor="let locationParameter of group.locationParameters"
                                 style="display:flex; justify-content:space-between; align-items: center">
                                <span class="badge">{{locationParameter.dateTime | date:'dd.MM.yyyy'}}</span>
                                <span>{{locationParameter.value | number:'1.0-6'}} {{group.parameter.unit?.title}}</span>
                                <button mat-flat-button color="primary"
                                        (click)="openLocationParameter(locationParameter)">Edit
                                </button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <button mat-flat-button color="primary" (click)="addLocationParameter()">Add</button>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions
            style="position:relative; width:100%; bottom:0; display: flex; justify-content: space-between; align-items: center; ">
        <button mat-flat-button (click)="close()">Close</button>
        <button mat-flat-button color="primary" (click)="save()">Save</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-flat-button color="warn" (click)="remove()">Delete</button>
    </mat-dialog-actions>
</ng-container>
    