<ng-container *ngIf="!locationParameterClone">
    Loading...
</ng-container>

<ng-container *ngIf="locationParameterClone">
    <mat-dialog-content style="height: 100%">
        <ng-select [items]="parameters"
                   bindLabel="title"
                   [addTag]="addParameter"
                   placeholder="Select parameter"
                   [(ngModel)]="locationParameterClone.parameter">
        </ng-select>
        <div style="display: flex; justify-content: space-between; align-items: center; gap: 16px;">

            <mat-form-field style="flex:1;">
                <mat-label>Value</mat-label>
                <input matInput type="number" placeholder="Value" [(ngModel)]="locationParameterClone.value">
            </mat-form-field>

            <div style="flex:1;">
                <ng-select *ngIf="locationParameterClone.parameter.id == 0" [items]="units"
                           bindLabel="title"
                           [addTag]="addUnit"
                           placeholder="Select unit"
                           [(ngModel)]="locationParameterClone.parameter.unit">
                </ng-select>
                <p *ngIf="locationParameterClone.parameter.id != 0">
                    Units: {{locationParameterClone.parameter.unit?.title ?? "-"}}</p>
            </div>
            <mat-form-field>
                <input matInput [matDatepicker]="datepicker1" placeholder="Start Date" [(ngModel)]="locationParameterClone.dateTime" required>
                <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #datepicker1></mat-datepicker>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions
            style="position:absolute; width:100%; bottom:0; display: flex; justify-content: space-between; align-items: center; ">
        <button mat-flat-button (click)="cancel()">Cancel</button>
        <button mat-flat-button color="primary" (click)="save()">Save</button>
    </mat-dialog-actions>
</ng-container>
    